---
import RegisterBox from "./RegisterBox.tsx";
interface Props {
  title?: string;
  id: string;
  description?: string;
  benefitsTitle?: string;
  benefits?: string[];
  registerTitle?: string;
  registerNamePlaceholder?: string;
  registerEmailPlaceholder?: string;
  registerButtonText?: string;
  registerErrorEmpty?: string;
  registerErrorEmail?: string;
  registerErrorServer?: string;
  registerSuccess?: string;
  registerSecureMessage?: string;
}

const {
  title,
  id,
  description,
  benefitsTitle,
  benefits,
  registerTitle,
  registerNamePlaceholder,
  registerEmailPlaceholder,
  registerButtonText,
  registerErrorEmpty,
  registerErrorEmail,
  registerErrorServer,
  registerSuccess,
  registerSecureMessage,
} = Astro.props;
---

<div class='py-24' id={id}>
  <div class='z-10 px-4 sm:px-6 lg:px-8'>
    <div class='text-center'>
      <h2 class='font-bold mb-10 gradient-text'>
        {title}
      </h2>
      <div class='decorative-line mb-16'>
        <h2 class='subtitle'>
          {description}
        </h2>
      </div>

      <div class='w-full'>
        <RegisterBox
          client:load
          title={registerTitle}
          namePlaceholder={registerNamePlaceholder}
          emailPlaceholder={registerEmailPlaceholder}
          buttonText={registerButtonText}
          errorEmpty={registerErrorEmpty}
          errorEmail={registerErrorEmail}
          errorServer={registerErrorServer}
          success={registerSuccess}
          secureMessage={registerSecureMessage}
        />
      </div>
    </div>
  </div>
</div>
